#/etc/systemd/system/setkeycodes.service
# systemctl enable setkeycodes

# https://wiki.archlinux.org/title/Keyboard_input#Identifying_scancodes
# https://wiki.archlinux.org/title/map_scancodes_to_keycodes
# see # scancodes evtest /dev/input/event2
# setkeycodes scancode keycode
# see keycodes: $ less /usr/include/linux/input-event-codes.h


[Unit]
Description=Change keycodes at boot

[Service]
Type=oneshot
# rebind lock key  to delete
ExecStart=/usr/bin/setkeycodes 39 111
#ExecStart=/usr/bin/setkeycodes [scancode] [keycode]

[Install]
WantedBy=multi-user.target
